header {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 1em;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

.navigation {
    
}

.navigation a {
    color: whitesmoke;
}

.produto {
    
}